absl-py==2.1.0
attrs==23.2.0
blinker==1.8.2
cffi==1.16.0
click==8.1.7
cmake==3.29.2
colorama==0.4.6
comtypes==1.4.4
contourpy==1.2.1
cvzone==1.6.1
cycler==0.12.1
dlib-binary==19.24.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
itsdangerous==2.2.0
jax==0.4.26
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
mediapipe==0.10.11
ml-dtypes==0.4.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
pillow==10.3.0
protobuf==3.20.3
psutil==5.9.8
pycaw==20240210
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.13.0
six==1.16.0
sounddevice==0.4.6
Werkzeug==3.0.3
